/* style.css */

#im_left.clicked-style,
#im_right.clicked-style {
  background-color: pink;
  /* You could add other styles here too, like a border */
  /* border: 3px solid #ff0099; */
}

.img-fluid.selection-enabled:hover {
    box-shadow: 0px 0px 15px #666666;
    -moz-box-shadow: 0px 0px 15px #666666;
    -webkit-box-shadow: 0px 0px 15px #666666;
}

.img-fluid.selected {
    box-shadow: 0px 0px 25px #224488;
    -moz-box-shadow: 0px 0px 25px #224488;
    -webkit-box-shadow: 0px 0px 25px #224488;
}
